* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DINMd";
}
body {
  overflow-x: hidden;
}
@font-face {
  font-family: "DIN";
  src: url("../fonts/DINNextLTArabic-Regular-2.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "DINMd";
  src: url("../fonts/DINNextLTArabic-Medium-4.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "DINBold";
  src: url("../fonts/DINNextLTArabic-Bold-4.ttf");
  font-weight: 700;
  font-style: normal;
}

input::placeholder {
  font-family: "DIN";
}
:root {
  --main_color: hsla(359, 87%, 40%, 1);
  --white_color: white;
}
h1 {
  font-family: "DINBold";
}
.m60 {
  margin-bottom: 60px;
}
p {
  margin: 0;
  font-family: "DIN";
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(82deg, rgb(200, 25, 28), white);
  border-radius: 30px;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}
.m80 {
  margin-bottom: 80px;
}
.m100 {
  margin-bottom: 100px;
}
/*circle*/
.circle {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  width: 156px;
}
.circle .part {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--main_color);
  animation: scaleCircle 1s infinite alternate ease-in;
}
.circle .part.delayed-circle {
  animation-delay: 0.3s; /* Add a delay of 1 second */
}
@keyframes scaleCircle {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}
/*lines*/
.lines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 170px;
  overflow: hidden;
}
.lines .line {
  width: 170px;
  height: 4px;
  display: block;
  background-color: var(--main_color);
  animation: scaleLine 1s infinite alternate ease-in;
}
.lines .line.delayed_Line {
  animation-delay: 0.5s;
}
@keyframes scaleLine {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(10px);
  }
}
/*start style*/
/*==================================start navbar==============================*/
/* Remove border from toggler */

.navbar {
  padding-top: 0.5rem;
  background: hsla(359, 87%, 40%, 1);
  box-shadow: 4px 4px 4px 0px hsla(0, 0%, 0%, 0.15);
  direction: ltr;
  position: relative;
  z-index: 10;
}
.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: var(--white_color);
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar {
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: var(--white_color);
}
.navbar-collapse {
  flex-grow: 0.5;
}

.navbar-nav {
  margin: 0 !important;
  gap: 18px;
}
.navbar-collapse {
  justify-content: space-between;
}
.navbar-brand {
  font-size: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.navbar-brand img {
  height: 74px;
  width: auto;
}
.navbar-brand svg {
  height: 28px;
  max-width: 100%;
}
.navbar-nav .nav-link {
  color: white;
  font-family: DINBold;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}
.navbar-nav .nav-link.active {
}
.end_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.navbar .dropdown {
}

.navbar .dropdown ul {
  width: 100%;
  min-width: fit-content;
}
.navbar .dropdown ul li {
  margin-bottom: 12px;
}
.navbar .dropdown ul li a {
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 0px 8px;
}
.navbar .dropdown-item.active,
.dropdown-item:active {
  background-color: transparent;
}
.navbar .dropdown-item:focus,
.dropdown-item:hover {
  color: #1e2125;
  background-color: transparent;
}
.navbar .dropdown-menu {
  right: auto;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.navbar .dropdown ul li:last-of-type a p {
  padding: 12px 22px 0px;
  border-top: 1px solid #d9d9d9;
  width: 100%;
  text-align: start;
}
.navbar .dropdown ul li a img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}
.navbar .dropdown ul li a p {
  font-size: 16px;
  line-height: 21px;
  color: #4e4e4e;
}
.navbar a.logBtn {
  padding: 12px 8px;
  color: #949494;
  font-family: DIN;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.navbar a.subscribe {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #475569;
  background: #334155;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  color: #fff;
  font-family: DIN;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row-reverse;
  }
}
@media (max-width: 992px) {
  .navbar-nav {
    margin: 0 !important;
    gap: 8px;
  }
  .btn-lang {
  }
  .navbar-collapse {
    background: #f1f5f9;
    border-radius: 10px;
  }

  .navbar-nav {
    align-items: center;
    padding: 20px;
  }
  .navbar-nav .nav-link {
    font-size: 16px;
    line-height: 21px;
    color: #b60502;
  }
  .end_nav {
    padding: 10px 20px;
  }
}
@media (max-width: 500px) {
  .navbar-brand img {
    height: 56px;
  }
}
@media (max-width: 350px) {
  .navbar .dropdown-menu {
    right: auto;
    left: 30% !important;
    transform: translateX(-50%) !important;
  }
  html[dir="rtl"] .navbar .dropdown-menu {
    left: 80% !important;
  }
}
/*about*/
.about {
  color: white;
  padding: 80px 0px 120px;
  background-color: var(--main_color);
  margin-bottom: 120px;
  position: relative;
  overflow: hidden;
}
.about .lines {
  position: absolute;
  top: 46px;
  right: -40px;
}
.about .lines .line {
  background-color: white;
}
.about .circle {
  position: absolute;
  bottom: 46px;
  right: 60px;
  max-width: 106px;
}
.about .circle .part {
  background-color: white;
  width: 16px;
  height: 16px;
}
.about .content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.about .content .part1 {
}
.about .content .part1 h1 {
  font-size: 40px;
  line-height: 70px;
  margin-bottom: 30px;
  font-family: "DINBold";
  color: white;
  max-width: 630px;
}

.about .content .part1 p {
  font-size: 22px;
  font-family: "DIN";
  margin-bottom: 10px;
  color: white;
}
.about .content .part1 .features {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 140px;
  list-style: inside;
}
.about .content .part1 .features li {
  font-size: 22px;
  font-family: "DIN";
  margin-bottom: 10px;
  color: white;
}

.about .content .part1 .features li.cangeImg {
  cursor: pointer;
  position: relative;
}

.about .content .part1 .downloadApp {
}
.about .content .part1 .downloadApp h2 {
  font-size: 22px;
  font-family: "DINBold";
  margin-bottom: 24px;
  color: white;
}
.about .content .part1 .downloadApp ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  gap: 20px;
}
.about .content .part1 .downloadApp ul li {
  flex: 1;
  border-radius: 10px;
}
.about .content .part1 .downloadApp ul li a {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.about .content .part1 .downloadApp ul li a img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.about .content .part2 {
  background-color: transparent;
  max-width: 400px;
  flex: 1;
}
.about .content .part2 img {
  width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  .about .content .part1 h1 {
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 24px;
  }
  .about .content .part1 p {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .about .content .part1 .features li {
    font-size: 20px;
    margin-bottom: 6px;
  }
  .about .content .part1 .downloadApp ul {
    max-width: 370px;
    gap: 16px;
  }
  .about .content .part1 .downloadApp h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .about {
    padding: 30px 0px 120px;
    margin-bottom: 52px;
  }
  .about .circle {
    bottom: 8px;
  }
}
@media (max-width: 992px) {
  .about .content {
    gap: 16px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .about .content .part2 img {
    height: 460px;
  }
  .about .content .part1 {
    width: 100%;
  }
  .about .content .part2 {
    display: none;
  }
  .about .content .part1 .features {
    margin-bottom: 70px;
  }
  .about .lines {
    position: absolute;
    top: 46px;
    right: -140px;
  }
}
@media (max-width: 560px) {
  .about .lines {
    position: absolute;
    top: 46px;
    right: -159px;
  }
  .about .content .part1 .features {
    margin-bottom: 34px;
    gap: 0px;
  }
  .about .content .part1 .downloadApp ul {
    max-width: 280px;
    gap: 10px;
  }
  .about .content .part1 h1 {
    font-size: 28px;
    line-height: 44px;
    margin-bottom: 24px;
  }
  .about .content .part1 p {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .about .content .part1 .features li {
    font-size: 18px;
    margin-bottom: 6px;
  }
  .about .content .part1 .downloadApp h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
/*aboutContent*/
.aboutContent {
  position: relative;
  margin-bottom: 200px;
}

.aboutContent .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  position: relative;
}
.aboutContent.aboutContent2 .content {
  flex-direction: row-reverse;
}
.aboutContent .content .part1 {
  flex: 1;
}
.aboutContent .content .part1 h2 {
  font-size: 26px;
  font-family: "DINBold";
  margin-bottom: 16px;
}
.aboutContent .content .part1 p {
  color: hsla(0, 0%, 46%, 1);
  font-size: 22px;
  font-family: "DINMd";
  line-height: 36px;
}

.aboutContent .content .part2 {
  max-width: 100%;
  flex: 1;
  min-width: 400px;
}
.aboutContent .content .part2 img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.aboutContent.aboutCircle .content .lines {
  position: absolute;
  bottom: -40px;
  right: 0px;
  z-index: -1;
}
.aboutContent.aboutCircle .content .circle {
  position: absolute;
  top: -80px;
  right: 0px;
  z-index: -1;
}

@media (max-width: 1200px) {
  .aboutContent {
    margin-bottom: 80px;
  }
  .aboutContent .content {
    flex-direction: column-reverse;
  }
  .aboutContent.aboutContent2 .content {
    flex-direction: column-reverse;
  }
  .aboutContent .content .part2 img {
    width: 600px;
    height: auto;
    max-width: 90%;
  }

  .aboutContent .content {
    gap: 30px;
  }
  .aboutContent .content .part1 {
    width: 100%;
  }
  .aboutContent .content .part1 h2 {
    font-size: 22px;
    margin-bottom: 14px;
  }
  .aboutContent .content .part1 p {
    font-size: 18px;
    line-height: 32px;
  }
  .aboutContent.aboutCircle .content .circle {
    top: -50px;
    width: 106px;
  }
  .aboutContent.aboutCircle .content .circle .part {
    width: 18px;
    height: 18px;
  }
  .aboutContent.aboutCircle .content .lines {
    bottom: -76px;
  }
}
@media (max-width: 992px) {
  .aboutContent .content .part2 {
    min-width: auto;
  }
}
@media (max-width: 768px) {
  .aboutContent {
    margin-bottom: 90px;
  }
  .aboutContent .content .part2 img {
    max-width: 70%;
  }
  .aboutContent .content {
    gap: 16px;
  }
  .aboutContent .content .part1 h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .aboutContent .content .part1 p {
    font-size: 16px;
    line-height: 30px;
  }
}
@media (max-width: 500px) {
  .aboutContent.aboutCircle .content .lines {
    right: -90px;
  }
  .aboutContent.aboutCircle .content .circle .part {
    opacity: 0.4;
  }
}
/*contactUS*/
.contactUS {
  position: relative;
  padding: 80px 0px;
  background: rgb(253 229 229);
  max-width: 2000px;
  margin: auto;
  box-shadow: 17px 20px 5px rgb(222, 226, 230);
}

.contactUS .circle {
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 50%;
  z-index: 10;
  justify-content: space-between;
}
.contactUS .circle .part {
  width: 20px;
  height: 20px;
  background-color: hsl(0deg 84.13% 87.65%);
}
.contactUS .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  flex-direction: row-reverse;
  position: relative;
}

.contactUS .content .part1 {
  flex: 1;
}
.contactUS .content .part1 h2 {
  font-size: 26px;
  font-family: "DINBold";
  margin-bottom: 10px;
}
.contactUS .content .part1 p {
  color: hsla(0, 0%, 46%, 1);
  font-size: 22px;
  font-family: "DINMd";
  line-height: 30px;
  margin-bottom: 18px;
}
.contactUS .content .part1 form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contactUS .content .part1 form input {
  background: white;
  width: 100%;
  height: 70px;
  border-radius: 45px;
  border: none;
  box-shadow: 2px 2px 8px 0px hsl(0deg 0% 0% / 14%);
  padding: 10px 24px;
}
.contactUS .content .part1 form input::placeholder {
  color: hsla(0, 0%, 0%, 0.5);
  font-size: 20px;
  font-family: "DINMd";
}
.contactUS .content .part1 form textarea {
  background: white;
  width: 100%;
  height: 246px;
  border-radius: 30px;
  border: none;
  box-shadow: 2px 2px 8px 0px hsl(0deg 0% 0% / 14%);
  padding: 20px 24px;
}
.contactUS .content .part1 form textarea::placeholder {
  color: hsla(0, 0%, 0%, 0.5);
  font-size: 20px;
  font-family: "DINMd";
}
.contactUS .content .part1 form input[type="submit"] {
  background-color: hsla(0, 54%, 45%, 1);
  box-shadow: 2px 2px 8px 0px hsl(0deg 0% 0% / 14%);
  color: white;
  font-size: 26px;
  font-family: "DINMd";
}
.contactUS .content .part2 {
  max-width: 100%;
  flex: 1;
  min-width: 400px;
}
.contactUS .content .part2 img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
@media (max-width: 1200px) {
  .contactUS .content {
    flex-direction: column-reverse;
  }
  .contactUS .content .part2 img {
    width: 490px;
    height: auto;
    max-width: 70%;
  }
  .contactUS .content {
    gap: 20px;
  }
  .contactUS .content .part1 {
    width: 100%;
  }
  .contactUS .content .part1 h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .contactUS .content .part1 p {
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 20px;
  }
  .contactUS .content .part1 form {
    gap: 22px;
    max-width: 100%px;
  }
  .contactUS .content .part1 form input {
    height: 56px;
    padding: 10px 16px;
  }
  .contactUS .content .part1 form input::placeholder,
  .contactUS .content .part1 form textarea::placeholder {
    font-size: 18px;
  }
  .contactUS .content .part1 form input[type="submit"] {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .contactUS .content .part2 {
    min-width: auto;
  }
  .contactUS .circle {
    width: 100%;
    flex-wrap: nowrap;
  }
}
@media (max-width: 768px) {
  .contactUS .circle {
    bottom: -8px;
  }
  .contactUS .circle .part {
    width: 16px;
    height: 16px;
  }

  .contactUS .content .part1 h2 {
    font-size: 22px;
    margin-bottom: 4px;
  }
  .contactUS .content .part1 p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 14px;
  }
}
/*footer*/
footer {
  color: white;
  padding: 60px 0px 0px;
  background-color: var(--main_color);
}
footer .content {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  padding-bottom: 50px;
  border-bottom: 1px solid rgb(193, 192, 192);
}
footer .content .part1 {
}
footer .content .part1 h2 {
  font-size: 30px;
  margin-bottom: 18px;
  font-family: "DINBold";
}
footer .content .part1 .links {
  list-style: inside;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
}
footer .content .part1 .links li {
}
footer .content .part1 .links li a {
  font-size: 18px;
  font-family: "DINBold";
  color: white;
}
footer .content .part1 .media {
  display: flex;
  gap: 26px;
  padding: 0px 20px;
  align-items: center;
}
footer .content .part1 .media li {
}
footer .content .part1 .media li a {
}
footer .content .part1 .media li a img {
  width: 30px;
}
footer .content .part2 {
}
footer .content .part2 .logoFooter {
  display: flex;
  margin: 0px auto 60px;

  gap: 10px;
  width: 120px;
}
footer .content .part2 .logoFooter img {
  width: 120px;
  height: auto;
  display: block;
  margin: auto;
}
footer .content .part2 .logoFooter svg {
  height: 28px;
  align-self: center;
  max-width: 100%;
}
footer .content .part2 ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 360px;
  gap: 16px;
}
footer .content .part2 ul li {
  flex: 1;
  border-radius: 10px;
}
footer .content .part2 ul li a {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
footer .content .part2 ul li a img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
footer .copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 30px 0px;
}
footer .copy .part1 {
  display: flex;
  align-items: center;
  gap: 6px;
  direction: ltr;
}
footer .copy .part1 img {
  width: 60px;
  height: auto;
}
footer .copy .part1 p {
  font-size: 16px;
  line-height: 22px;
  max-width: 90px;
  text-align: end;
  font-weight: 400;
  font-family: sans-serif;
}
footer .copy .part2 {
}
footer .copy .part2 h3 {
  font-size: 16px;
  font-weight: 400;
  font-family: sans-serif;
}
footer .copy .part2 h3 a {
  color: white;
  font-size: 16px;
  font-weight: 700;
  font-family: sans-serif;
}

@media (max-width: 992px) {
  footer {
    padding: 60px 0px 0px;
  }
  footer .content .part1 h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  footer .content .part1 .links {
    gap: 8px;
    margin-bottom: 40px;
  }
  footer .content .part1 .links li a {
    font-size: 16px;
    font-family: "DINBold";
    color: white;
  }
  footer .content .part1 .media {
    gap: 24px;
    padding: 0px 14px;
  }
  footer .content .part1 .media li a img {
    width: 30px;
  }
  footer .content .part2 ul {
    max-width: 300px;
    gap: 10px;
  }
  footer .content .part2 .logoFooter {
    margin: 0px 0px 46px;
  }
  footer .content .part2 ul {
    max-width: 300px;
    gap: 10px;
  }
  footer .content .part2 .logoFooter img {
    width: 130px;
  }
  footer .copy {
    padding: 20px 0px;
  }
  footer .copy .part2 h3,
  footer .copy .part2 h3 a {
    font-size: 16px;
  }
  footer .copy .part1 p {
    font-size: 16px;
    line-height: 26px;
    max-width: 90px;
  }
  footer .copy .part1 img {
    width: 46px;
  }
  footer .content .part2 .logoFooter img {
    width: 90px;
  }
}
@media (max-width: 768px) {
  footer .content {
    flex-direction: column-reverse;
  }
  footer .content .part2 .logoFooter {
    margin: 0px 0px 26px;
  }
  footer .content .part2 .logoFooter img {
    margin: 0;
  }
  footer .content .part2 ul {
    max-width: 270px;
    gap: 10px;
  }
  footer .content {
    gap: 24px;
    padding-bottom: 40px;
  }
  footer {
    padding: 44px 0px 0px;
  }
  footer .content .part1 h2 {
    font-size: 22px;
    margin-bottom: 14px;
  }
  footer .content .part1 .links li a {
    font-size: 16px;
  }
  footer .copy {
    padding: 10px 0px;
  }
  footer .copy .part1 p {
    font-size: 14px;
    line-height: 26px;
    max-width: 83px;
  }
  footer .copy .part2 h3,
  footer .copy .part2 h3 a {
    font-size: 14px;
  }
  footer .content .part1 .media {
    gap: 18px;
    padding: 0px 14px;
  }
  footer .content .part1 .media li a img {
    width: 28px;
  }
  footer .content .part2 .logoFooter img {
    width: 90px;
  }
}
@media (max-width: 500px) {
  footer .content .part1 .links {
    gap: 4px;
  }
}

/*subscibe*/
.subscibe {
  padding: 80px 0px;
  background: hsla(0, 100%, 92%, 1);
  position: relative;
  max-width: 2000px;
  margin: auto;
  overflow: hidden;
}
.subscibe::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  background: hsla(0, 100%, 95%, 1);
  top: 0;
  left: 0;
}
.subscibe .circle {
  position: absolute;
  bottom: 40px;
  left: 50px;
  gap: 30px;
  width: 230px;
}
.subscibe .circle .part {
  width: 18px;
  height: 18px;
  background: hsla(0, 95%, 74%, 1);
}
.subscibe .circle .part.delayed-circle {
  background: hsla(0, 100%, 88%, 1);
}
.subscibe .content {
  position: relative;
  z-index: 5;
}
.subscibe .content h2 {
  font-size: 50px;
  max-width: 550px;
  line-height: 68px;
  margin-bottom: 30px;
  font-family: "DINBold";
}
.subscibe .content p {
  color: hsla(0, 0%, 33%, 1);
  font-size: 18px;
  font-family: "DIN";
  max-width: 500px;
  line-height: 28px;
  margin-bottom: 50px;
}
.subscibe .content form {
  direction: ltr;
}

.subscibe .content form .pertForm {
  background-color: white;
  padding: 20px 16px 16px;
  height: 100px;
  width: 100%;
  max-width: 734px;
  display: flex;
  gap: 16px;
  align-items: center;
  border-radius: 50px;
}
.subscibe .content form .pertForm span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  padding: 10px;
}
.subscibe .content form .pertForm input[type="email"] {
  flex: 1;
  height: 100%;
  width: 100%;
  border: none;
  font-family: "DINMd";
  direction: ltr;
  outline: none;
}
.subscibe .content form .pertForm input[type="email"]::placeholder {
  color: hsla(202, 11%, 38%, 1);
  font-size: 18px;
}
.subscibe .content form .pertForm input[type="submit"] {
  background: hsla(0, 54%, 45%, 1);
  width: 200px;
  height: 100%;
  padding: 20px;
  border-radius: 32px;
  color: white;
  border: none;
  transition: 0.5s;
}
.subscibe .content form .pertForm input[type="submit"]:hover {
  box-shadow: 2px 2px 8px 0px hsl(0.5deg 54.55% 43.14%);
}

@media (max-width: 768px) {
  .subscibe {
    padding: 40px 0px;
  }
  .subscibe .content h2 {
    font-size: 30px;
    max-width: 350px;
    line-height: 48px;
    margin-bottom: 10px;
  }
  .subscibe .content p {
    margin-bottom: 40px;
  }
  .subscibe .content form .pertForm {
    padding: 10px 10px 10px;
    height: 72px;
    gap: 10px;
  }
  .subscibe .content form .pertForm input[type="submit"] {
    width: 106px;
    padding: 0px;
    font-size: 14px;
  }
  .subscibe .circle {
    bottom: 6px;
    left: -4px;
    opacity: 0.3;
  }
  .subscibe .content form .pertForm span {
    width: 40px;
    height: 40px;
    padding: 6px;
  }
}
/*carAd1*/
.carAd1 {
  width: 900px;
  margin: auto;
  background-color: white;
}
.carAd1 .content {
}
.carAd .content .headContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.carAd .content .headContent h2 {
  color: black;
  font-size: 62px;
  line-height: 77px;
  max-width: 480px;
  font-family: "DINBold";
  margin: 0;
}
.carAd .content .headContent .logoAd {
  min-width: 216px;
  height: auto;
  max-height: 125px;
}
.carAd1 .content .headImgCar {
  padding: 0px 30px;
}
.carAd1 .content .headImgCar .carImg {
  width: 100%;
  height: 510px;
  border-radius: 20px;
  object-fit: cover;
  display: block;
  margin: auto;
}
.carAd1 .content .parts {
  display: flex;
  gap: 12px;
  padding: 20px 30px;
}
.carAd .content .parts .details {
  background-color: var(--main_color);
  border-radius: 20px;
  max-width: 380px;
}
.carAd .content .parts .details .headDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px 20px;
  border-radius: 20px 20px 0px 0px;
  background-color: black;
}
.carAd .content .parts .details .headDetails h3 {
  color: white;
  font-size: 32px;
  font-family: "DIN";
}
.carAd .content .parts .details .headDetails .linkDetails {
  color: white;
  font-size: 22px;
  font-family: "DIN";
}
.carAd .content .parts .details ul {
  padding: 10px 20px;
}
.carAd .content .parts .details ul li {
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  min-height: 44px;
  gap: 40px;
}
.carAd .content .parts .details ul li h4 {
  font-size: 17px;
  color: white;
  margin: 0;
  font-family: "DIN";
}
.carAd .content .parts .details ul li p {
  color: white;
  font-size: 28px;
  font-family: "DINBold";
}
.carAd .content .parts .details ul li.colorSpan {
  border-bottom: none;
  padding-top: 4px;
  padding-bottom: 6px;
}
.carAd .content .parts .details ul li.colorSpan span {
  width: 212px;
  border: 1px solid black;
  background-color: white;
  border-radius: 8px;
  height: 36px;
  display: block;
}
.carAd .content .parts .details .features {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 16px 20px;
}
.carAd .content .parts .details .features .feature {
  width: calc(50% - 4px);
  display: flex;
  gap: 4px;
  align-items: center;
}

.carAd .content .parts .details .features .feature .circleFeature {
  background-color: white;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  position: relative;
}
.carAd .content .parts .details .features .feature .circleFeature.active {
  background: hsla(118, 99%, 36%, 1);
}
.carAd1
  .content
  .parts
  .details
  .features
  .feature
  .circleFeature.active::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/true.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  width: 14px;
  height: 10px;
}
.carAd .content .parts .details .features .feature p {
  color: white;
  font-size: 20px;
  font-family: "DIN";
}

.carAd1 .content .parts .part2 {
  width: 444px;
  flex: 1;
}

.carAd1 .content .parts .part2 .partImgCar2 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 100%;
}
.carAd1 .content .parts .part2 .partImgCar2 .carImg {
  width: 100%;
  height: 294px;
  object-fit: cover;
  border-radius: 20px;
}
.carAd .content .contact {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: -16px;
  justify-content: space-between;
}
.carAd .content .contact .part1 {
  background-color: var(--main_color);
  padding: 20px 28px 20px 50px;
  border-radius: 70px 0px 0px 70px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  height: 124px;
}
.carAd .content .contact .part1 h2 {
  color: white;
  font-size: 20px;
  font-family: "DIN";
  font-size: 24px;
  text-align: center;
}
.carAd .content .contact .part1 p {
  color: white;
  font-size: 20px;
  font-family: "DINBold";
  font-size: 54px;
  text-align: center;
  line-height: 18px;
  direction: ltr;
}
.carAd .content .contact .part2 {
  height: 150px;
}
.carAd .content .contact .part2 img {
  height: 100%;
}
.carAd .layimg {
  position: relative;
}
.carAd .layimg::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/lay2G9.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 40%;
  height: 80%;
  background-size: contain;
}
.carAd .price {
  display: flex;
  align-items: center;
  gap: 12px;
  direction: ltr;
  justify-content: flex-end;
  background-color: var(--main_color);
  border-radius: 70px;
  padding: 10px 20px;
  justify-content: space-between;
  width: fit-content;
  margin: 0px auto 28px;
}
.carAd .price img{
width: 84px;
}
.carAd .price h2 {
  font-size: 66px;
  color: white;
  margin: 0;
  font-family: "DINBold";

}
.carAd .price span {
  font-size: 16px;
  color: white;
  font-family: "DIN";

}
.carAd .price .priceNum {
  display: flex;
  align-items: flex-end;
  gap:6px;
  flex: 1;

}

.carAd2 {
  width: 1080px;
  margin: auto;
  background-color: white;
  margin-top: 150px;
}
.carAd2 .content .detailsCar{
  display: flex;
  gap: 30px;
}
.carAd2 .content .detailsCar .part2{
  flex: 1;
}
.carAd2 .content .detailsCar .part2 .partImgCar2{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}
.carAd2 .content .detailsCar .part2 .partImgCar2 .layimg{
  border-radius: 20px;
}
.carAd2 .content .detailsCar .part2 .partImgCar2 .layimg img{
  border-radius: 20px;
width: 100%;

}
.carAd2 .content .detailsCar .part2 .partImgCar2 .carImg1{
  width: 100%;
}
.carAd2 .content .detailsCar .part2 .partImgCar2 .carImg1 img{
  width: 100%;
  height: 376px;
  object-fit: cover;
}
.carAd2 .content .detailsCar .part2 .partImgCar2 .carImg2{
  width: calc(50% - 10px);
}
.carAd2 .content .detailsCar .part2 .partImgCar2 .carImg2 img{
  height: 202px;
  width: 100%;
  object-fit: cover;
}
